<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
    <meta name="viewport" content="width=device-width,intial-scale=1.0, minimum-scale=1.0">

    <title>Home - Shopme Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstarp.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jguery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jguery/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container-fluid">
        <h1>Welcome to backend project</h1>
    </div>
</body>
</html>